/* ---------------- base style ---------------- */
html,body,ul,li,ol,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{ margin:0; padding:0; }
fieldset,img,input,button{ border:none; padding:0; margin:0; outline-style:none;}
a{ text-decoration: none; color: #38B774;}
html{
    font: 12px/1.5 "Hiragino Sans GB", "Microsoft YaHei", Arial, Tahoma, Helvetica, Geneva, sans-serif;
    color: #040405;
    overflow-x: hidden;
}
h5{
    font-size: 1.16rem;
}
ul,ol{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:before,.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.container{
    width: 100%;
}

/* ---------------- header ---------------- */
header{
    font-size: 1.16rem;
    background-color:#191D3A;
    width: 100%;
    height: 59px;
}
nav{
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
header>nav>.logo{
    width: 156px;
    height:35px;
    float: left;
    margin-top: 10px;
}
header>nav ul{
    list-style: none;
    height: 100%;
    margin-left: 6.3%;
    float: left;
}
header>nav ul>li{
    width: 85px;
    height: 100%;
    line-height: 59px;
    text-align: center;
    float: left;
    color: #818496;
    border-right: 1px #252947 solid;
    cursor: pointer;
}
header>nav ul>li.first{
    background-color: #252947;
    color: #E2E4E3;
}
header>nav ul>li:hover{
    color: #E2E4E3;
}
header>nav button{
    width: 100px;
    height: 34px;
    font-size: 1.16rem;
    border-radius: 2px;
    float: left;
    margin-left: 10px;
    background-color: #38B774;
    color:#FFFFFF;
}
header>nav .hamburger{
    display: none;
}
header>nav .language{
    float: right;
}
header>nav button{
    width: 100px;
    height: 34px;
    margin-top: 12px;
    border-radius: 2px;
    float: left;
    background-color: #38B774;
    border: #38B774 1px solid;
    color:#FFFFFF;
    cursor: pointer;
}
header>nav button:hover{
    background-color: #2BA364;
    border: #38B774 1px solid;
    transition: 0.3s
}
header>nav a{
    line-height: 59px;
    color: #444866;
    margin-left: 12px;
}
header>nav a.on,header>nav a:hover{
    color:#38B774;
}

/* ----------------------- banner --------------------*/
div.banner{
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 460px;
    position: relative;
}
div.banner > ul{
    max-width: 100%;
}
div.banner > ul >li.banners{
    max-width: 100%;
    max-height: 100%;
    height: 460px;
    display: none;
}
div.banner > ul >li.banner1{
    background: url(pic/banner20190329.jpg) no-repeat center center;
}
div.banner > ul >li.banner2{
    background: url(pic/banner20190523.jpg) no-repeat center center;
}
div.banner > ul >li.banner3{
    background: url(pic/banner20190828.jpg) no-repeat center center;
}
div.banner > ul >li.banner4{
    background: url(pic/probanner4.jpg) no-repeat center center;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type {
    width: 115px;
    height: 37px;
    position: absolute;
    right: 15%;
    top:17.08%;
    background: url(img/online.png) no-repeat top left;
    cursor: pointer;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type:hover {
    background: url(img/online.png) no-repeat -120px top;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dt {
    margin-left: 20%;
    line-height: 37px;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dd {
    width: 115px;
    height: 37px;
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    display: none;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dd > a {
    width: 25px;
    height: 25px;
    margin-left: 8px;
    display: block;
    float: left;
    cursor: pointer;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dd > a:nth-of-type(1) {
    margin-left: 12px;
    background: url(img/online.png) no-repeat left bottom;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dd > a:nth-of-type(2) {
    background: url(img/online.png) no-repeat -50px bottom;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type >dd > a:nth-of-type(3) {
    background: url(img/online.png) no-repeat -100px bottom;
}
div.banner > ul >li.banner4 >.ad >dl:first-of-type:hover >dd {
    display: block;
}
div.banner > ul >li.banner4 >.ad > p{
    position: absolute;
    max-width: 32%;
    left: 53.5%;
    top: 35%;
    font-size: 1.16em;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) {
    width: 460px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 53.5%;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dt {
    height: 35px;
    line-height: 35px;
    font-size: 1.5rem;
    padding-left: 30px;
    background: url(img/download.png) no-repeat 5px 10px;
    margin-bottom: 20px;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd {
    width: 83px;
    height: 106px;
    float: left;
    margin-right: 1px;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:hover {
    opacity: 1;
    transition: 0.3s;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:nth-of-type(1) {
    background: url(img/pad.png) no-repeat 29px -175px;
    background-color: #FFFFFF;
    border-radius: 10px 0 0 10px;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:nth-of-type(2) {
    background: url(img/pad.png) no-repeat 26px 25px;
    background-color: #FFFFFF;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:nth-of-type(3) {
    background: url(img/pad.png) no-repeat 20px -75px;
    background-color: #FFFFFF;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:nth-of-type(4) {
    background: url(img/pad.png) no-repeat 24px -265px;
    background-color: #FFFFFF;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd:nth-of-type(5) {
    width: 111px;
    background: url(pic/landlords80.png) no-repeat 16px 16px;
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;
}
div.banner > ul >li.banner4 >.ad >dl:nth-of-type(2) >dd >p{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10%;
}
div.banner > ul >li.banner4 >.ad  button{
    display: none;
}

div.banner > ul >li.banners.on{
    display: block;
    animation: showBanner 0.3s;
}
@keyframes showBanner{
    0%{opacity: 0.75;}
    100%{opacity: 1;}
}
div.banner > ul.list{
position: absolute;
margin-left: 50%;
left:-54px;
top: 93.478%;
}
div.banner > ul >li.circle{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 15px;
    float: left;
    background-color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;
}
div.banner > ul >li.circle.on,div.banner > ul >li.circle:hover{
    opacity: 1;
}


/* ------------------------ main --------------------- */
main{
    width: 100%;
    background: url(pic/indexmainbg.jpg) no-repeat bottom center;
    padding-bottom: 50px;
}
/* ------------------------ main slips --------------------- */
main > div{
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
div.wapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
main > div.indexpro > div.wapper  >ul{
    width: 1820px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
main > div.indexpro > div.wapper  >ul > li {
    width: 218px;
    height: 200px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-left:42px;
}
main > div.indexpro > div.wapper  >ul > li > a {
    display: block;
    margin-top: 10px;
}
main > div.indexpro > div.wapper  >ul > li:first-of-type {
    margin-left: 0;
}
main > div.indexpro > div.wapper  >ul > li:hover {
    color: #FFFFFF;
    background-color: #38B774;
    opacity: 0.8;
    transition: 0.8s;
}
main > div.indexpro > div.wapper  >ul > li:hover >a {
    color: #FFFFFF;
}
main > div.indexpro > div.wapper  >ul > li >img{
    width: 100%;
}
main > div.indexpro > div.wapper  >ul > li > a >img{
    margin-left: 5px;
}
main > div.indexpro > .hd{
    border-top: 1px #DBE1E7 solid;
    margin-top: 19px;
    position: relative;
}
main > div.indexpro > .hd > ul{
    position: absolute;
    margin-left: 50%;
    background-color: #FFFFFF;
    padding-right: 15px;
    left: -27px;
    top: -6px;
}
main > div.indexpro > .hd > ul >li.circle{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-left: 15px;
    float: left;
    background-color: #B5C0CB;
    cursor: pointer;
}
main > div.indexpro > .hd  ul >li.circle.on,main > div.indexpro > .hd > ul >li.circle:hover{
    background-color: #38B774;
}

/* ------------------------ main section --------------------*/
main > div.maincon > section{
    float: left;
    width: 500px;
    height: 310px;
    position: relative;
}
main > div.maincon > section button{
    position: absolute;
    width: 65px;
    height: 28px;
    border-radius: 5px;
    left: 219px;
    top:39px;
    border: 1px #38B774 solid;
    background-color: #FFFFFF;
    color: #38B774;
    cursor: pointer;
}
main > div.maincon > section button:hover{
    background-color: #38B774;
    color: #FFFFFF;
    transition: 0.3s
}
main > div.maincon > section > article{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 110px;
}
main > div.maincon > section > .title > h4{
    font-size: 2.33rem;
    font-weight: bold;
}
main > div.maincon > section > .title > h5{
    font-weight: normal;
}

/* ------------------------ news section --------------------- */
main > div.maincon > section.news{
    background: url(pic/bynewsbg.jpg) no-repeat top left;
    color: #444866;
}
main > div.maincon > section.news > .title{
    display: none;
}
main > div.maincon > section.news > article > ul{
    border-top: 1px #E7E8EB solid;
    background-color: #FFFFFF;
    width: 100%;
}
main > div.maincon > section.news > article li{
    height: 48px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px #E7E8EB solid;
    line-height: 48px;
}
main > div.maincon > section.news > article li > a{
    float: left;
    font-size: 1.16rem;
    color: #444866;
}
main > div.maincon > section.news > article li > a:hover{
    color: #38B774;
}
main > div.maincon > section.news > article li > span{
    float: right;
    display: block;
    color: #B5C0CB;
}

/* -------------------------- recruitment section ------------------*/
main > div.maincon > section.recruitment{
    background: url(pic/byhrbg3.jpg) no-repeat top left;
    color: #FFFFFF;
}
main > div.maincon > section.recruitment > .title{
    position: absolute;
    top: 35px;
    left:80px;
}
main > div.maincon > div.recruitment button{
    border: 1px #FFFFFF solid;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF;
    cursor: pointer;
}
main > div.maincon > div.recruitment button:hover{
    background-color: rgba(255, 255, 255, 1);
    color: #38B774;
    transition: 0.3s;
}
.recruitment > article{
    margin-left: 20px;
    width: 80%;
}
.recruitment > article > ul > li{
    width: 60%;
    height: 38px;
    border-bottom: 1px #6FDEA3 solid;
    line-height: 38px;
}
.recruitment > article > ul > li >a{
    color: #FFFFFF;
    font-size: 1.16rem;
}


/* --------------------- footer ----------------------- */
footer{
    width: 100%;
    padding-top: 35px;
    background-color: #191D3A;
}
footer > .footer{
    max-width: 1000px;
    margin: 0 auto;
}
footer > .footer >.links {
    width: 100%;
    margin-bottom: 18px;
}
footer > .footer >.links > li{
    float: left;
    padding: 0 8px 0 8px;
    border-left: 1px #5F6E7E solid;
}
footer > .footer >.links > li:first-of-type{
    padding-left: 0;
    border-left: none;
}
footer > .footer a{
    color: #5F6E7E;
}
footer > .footer a:hover{
    color: #FFFFFF;
}
footer > .footer > p{
    min-height: 50px;
    line-height: 50px;
    color: #5F6E7E;
}
img.gov{
    width: 35px;
    height: 50px;
    vertical-align: middle;
}
.top{
    width: 68px;
    height: 29px;
    background: url(img/top.png) no-repeat 0 -40px;
    position: fixed;
    right: 15px;
    bottom: 65px;
    cursor: pointer;
}
.top:hover{
    background-position-y: 0;
}

/* ------------------- width < 1024px --------------------- */
@media screen and (max-width:1024px){
    /* --------- font-size ------------ */
    html{
        font-size: 8px;
    }
    /* ---------- small sreen wapper ------------- */
    header>nav,main>div,footer>.footer{
        width: 95%;
    }
    /* --------- header nav ---------- */
    header>nav>.hamburger{
        width: 38px;
        height: 28px;
        float: right;
        background: url(img/list.png) no-repeat left center;
        background-size:70%;
        margin: 15px 0 0 20px;
        display: block;
    }
    header>nav ul, header>nav button{
        display: none;
    }
    header>nav ul{
        background-color: #252947;
        margin: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        position: absolute;
        top:55px;
    }
    header>nav ul>li{
        float: none;
        width: 100%;
        text-align: center;
        border-right: none;
        border-top: 1px #000000 solid;
    }
    header>nav ul>li:first-of-type{
        margin-left: 0;
    }

    /* --------------- responsive banner --------------- */
    div.banner > ul >li.banners{
        max-height: 460px;
        height: 0;
        padding-bottom: 40%;
    }
    div.banner > ul >li.banners.on{
        background-size: cover;
    }
    
    /* --------------- simplify the AD content ---------------------*/
    div.banner > ul >li.banner4 >.ad >dl{
        display: none;
    }
    div.banner > ul >li.banner4 >.ad button{
        width: 20%;
        height: 10%;
        background-color: #191D3A;
        color: #FFFFFF;
        position: absolute;
        left: 53.5%;
        top: 60%;
        cursor: pointer;
        display: block;
    }
    div.banner > ul >li.circle,main > div.indexpro > .hd > ul >li.circle{
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-left: 15px;
    }
    main > div.maincon > section{
        width: 95%;
        margin: 0 auto;
        float: none;
    }
    main > div.maincon > section button{
        left: 180px;
    }
    main > div.maincon > section.news{
        background: url(pic/new_bg2.png) no-repeat top right;
    }
    main > div.maincon > section.news > .title{
        background: url(pic/news.png) no-repeat;
        position: absolute;
        padding-left: 60px;
        top: 35px;
        left:20px;
        display: block;
    }
    main > div.maincon > section.recruitment{
        background: url(pic/person.png) no-repeat right top;
        background-color: #38B774;
        color: #FFFFFF;
    }
    main > div.maincon > section.recruitment > .title{
    background: url(pic/person2.png) no-repeat;
    padding-left: 60px;
    top: 35px;
    left:20px;
    }
}